{{#each this.animate.items}}
<div class="animate animate-{{@index}}">
  <span class="group-0">{{this.group0}}</span>
  <span class="group-1">{{this.group1}}</span>
  <span class="group-2">{{{this.group2}}}</span>
</div>
{{/each}}