$benton-sans-light-url: "../fonts/benton-sans/light/de72ba14-fdff-4f82-9e20-0479255e5b5e-";
$benton-sans-thin-url: "../fonts/benton-sans/thin/46488cc0-1b8e-42e1-8696-27dd7e2eb01d-";

@font-face {
    font-family: "Benton Sans Light";
    src: url("#{$benton-sans-light-url}2.eot");
    src: url("#{$benton-sans-light-url}2.eot?#iefix") format("embedded-opentype"),
         url("#{$benton-sans-light-url}3.woff") format("woff"),
         url("#{$benton-sans-light-url}1.ttf") format("truetype"),
         url("#{$benton-sans-light-url}4.svg#akqa-2014") format("svg");
    font-weight: normal;
    font-style: normal;
}

%benton-light {
    font-family: "Benton Sans Light", Arial, sans-serif;
}

@font-face {
    font-family: "Benton Sans Thin";
    src: url("#{$benton-sans-thin-url}2.eot");
    src: url("#{$benton-sans-thin-url}2.eot?#iefix") format("embedded-opentype"),
         url("#{$benton-sans-thin-url}3.woff") format("woff"),
         url("#{$benton-sans-thin-url}1.ttf") format("truetype"),
         url("#{$benton-sans-thin-url}4.svg#akqa-2014") format("svg");
    font-weight: normal;
    font-style: normal;
}

%benton-thin {
    font-family: "Benton Sans Thin", Arial, sans-serif;
}