$color-primary: #333;
$color-secondary: #222;
$color-tertiary: #fff;
$color-bg: #424242;

$narrow-breakpoint: 680px;
$mid-breakpoint: 760px;
$wide-breakpoint: 1060px;
$max-width: 1600px;
$max-grid-width: 966px;